name: test
on:
  push:
jobs:
  jobWindows2022:
    name: "jobWindows2022"
    runs-on: windows-2022
    steps:
      - run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          cl.exe --version
        shell: cmd
        if: ${{always()}}
      - run: cl.exe --version
        if: ${{always()}}
      - run: clang++.exe --version
        if: ${{always()}}
      - run: clang.exe --version
        if: ${{always()}}
      - run: clang-cl.exe --version
        if: ${{always()}}
