name: test
on:
  push:
jobs:
  jobWindows2022:
    name: "jobWindows2022"
    runs-on: windows-2022
    steps:
      - run: cl.exe --version
        if: ${{always()}}
      - run: clang++.exe --version
        if: ${{always()}}
      - run: clang.exe --version
        if: ${{always()}}
      - run: clang-cl.exe --version
        if: ${{always()}}
