name: test
on:
  push:
jobs:
  buildmsys2ucrt64Image:
    name: "Bulid MSYS2 Docker Image"
    runs-on: windows-2022
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: "Docker build"
        run: >
          docker build
          --isolation=hyperv --memory=15g
          -f Dockerfile .
