name: test
on:
  push:
env:
  MSYS2INSTALLERURI: "https://www.mbsim-env.de/base/fileDownloadFromDBMedia/msys2mbsimenv-downloads"
jobs:
  buildmsys2ucrt64Image:
    name: "Bulid MSYS2 Docker Image test"
    runs-on: windows-2022
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: "Docker build"
        run: >
          docker image pull mbsimenv/buildmsys2ucrt64:latest
